* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-image: linear-gradient(to right, #f5f5f5, #e5e5e5);
  }

  50% {
    background-image: linear-gradient(to right, #e5e5e5, #f5f5f5);
  }

  100% {
    background-image: linear-gradient(to right, #f5f5f5, #e5e5e5);
  }
}

@keyframes footer-animation {
  0% {
    background-image: linear-gradient(to right, #585651, #46433f);
  }

  50% {
    background-image: linear-gradient(to right, #46433f, #2c2a24);
  }

  100% {
    background-image: linear-gradient(to right, #2c2a24, #2a2620);
  }
}

p {
  color: #444;
  line-height: 25px;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  padding: 10px 0px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
}

.menu-box {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.logo img {
  margin: 1em;
  width: 100%;
}

.menu-box .menu-toggle {
  display: none;
  float: right;
  margin: 1em;
}

.menu-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-box ul li {
  margin-left: 20px;
}

.menu-box ul li:first-child {
  margin-left: 0;
}

.menu-box ul li a {
  text-decoration: none;
  color: rgb(85, 83, 83);
  font-size: 20px;
  font-weight: 700;
}

.menu-box .active {
  color: #f83b3b;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .line {
  width: 30px;
  height: 3px;
  background-color: rgb(91, 91, 91);
  margin: 5px;
}

@media screen and (max-width: 868px) {
  .header-wrap {
    flex-direction: row;
  }

  .menu-box {
    width: 60%;
    margin-top: auto;
  }

  .menu-box .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }

  .menu-box ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .menu-box ul.show {
    display: flex;
  }

  .menu-box ul li {
    margin: 10px 0;
  }

  .menu-box ul li a {
    padding: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }

  .menu-box ul li a:hover {
    background-color: #f5f5f5;
  }
}

.half-width {
  display: flex;
  justify-content: space-between;
}

.intro-img {
  width: 50%;
}

.intro-img img {
  width: 100%;
}

.intro-wrap {
  padding-top: 2em;
  padding-bottom: 8em;
  overflow: hidden;
}

.intro-title {
  width: 50%;
}

.intro-title h1 {
  color: #363958;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 20px;
}

.intro-title span {
  display: block;
}

.span-color {
  color: #f83b3b;
}

.intro-title p {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: justify;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link-button {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #fc5858, crimson);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.link-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .intro-wrap {
    flex-direction: column-reverse; /* Reverse the flex direction to stack items vertically and place image first */
  }

  .intro-img {
    width: 100%; /* Make the image full width */
  }

  .intro-title {
    width: 100%; /* Make the content full width */
    text-align: center; /* Center align the content */
  }
  .intro-title h1 {
    color: #363958;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
  }
  .intro-title p {
    width: 100%; /* Make the content full width */
    text-align: justify; /* Center align the content */
  }
}

.spin {
  animation: spin 10s linear infinite;
}

.intro-section {
  background-image: url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.intro-wrap {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.intro-img {
  text-align: center;
}

.circle-1,
.circle-2,
.circle-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f83b3b;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  animation: pulse 2s ease-in-out infinite;
}

.circle-2 {
  top: 50%;
  left: 50%;
  animation-delay: 1s;
}

.circle-3 {
  top: 75%;
  left: 25%;
  animation-delay: 2s;
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 0.5;
  }

  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 0.5;
  }
}

/* Delivery*/

.delivery-section {
  background-color: #fff;
}

.delivery-header {
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.delivery-header h1 {
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}

.delivery-box {
  width: 25%;
  padding: 2%;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.delivery-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.delivery-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.delivery-box h2 {
  font-size: 30px;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.delivery-box:hover h2 {
  color: #f83b3b;
}

.delivery-wrap {
  padding: 20px 0;
  overflow: hidden;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.delivery-box:hover .box-content {
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .delivery-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .delivery-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .delivery-box img {
    height: 200px;
  }

  .delivery-box h2 {
    font-size: 24px;
  }
}

footer {
  background-color: black;
  color: #ededed;
  padding: 70px;
  font-family: "Roboto", sans-serif;
  animation: footer-animation 15s ease infinite;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Berkshire Swash", cursive;
  font-size: 24px;
  color: coral;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a:link {
  color: #ededed;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: burlywood;
}

.footer-section ul i {
  line-height: 1.5;
}

.footer-section ul span {
  font-size: 17px;
}

.footer-section ul span a:link {
  color: #ededed;
  text-decoration: none;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.footer-bottom p {
  color: #999;
  margin: 0;
}

input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #5a5a5a;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #333;
}

@media screen and (min-width: 768px) {
  .footer-section {
    width: calc(25% - 20px);
    margin-right: 20px;
  }

  .footer-section:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section {
    width: calc(20% - 20px);
    margin-right: 20px;
  }
}

main {
  padding: 2rem;
}

main h1 {
  font-size: 2rem;
  color: aliceblue;
  margin-bottom: 1rem;
  text-align: center;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipe img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  max-width: 350px;
}

.recipe h3 {
  margin: 0 0 0.5rem 0;
}

.recipe p {
  margin: 0;
}

@media (max-width: 768px) {
  .recipe-grid {
    grid-template-columns: 1fr;
  }
}

.box-menu {
  background-color: #5a5a5a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 0 auto 1rem;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 3px solid #d6a0a0;
  border-radius: 5px;
  box-sizing: border-box;
}

#searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #searchInput {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  #searchInput {
    padding: 8px;
  }
}

.about-us-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.about-us-section h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #26394c;
  margin-bottom: 3rem;
  text-align: center;
}

.about-us-section p {
  font-size: 1.2rem;
  color: #606163;
  margin-bottom: 2rem;
}

.about-us-section .row {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.about-us-section .row li {
  font-size: 1.2rem;
}
.about-us-section .col-lg-6 {
  flex: 1;
  padding: 2rem;
}

.about-us-section .order-lg-2 {
  order: 2;
  height: 100%;
  margin: auto 1rem;
}

.about-us-section .order-lg-1 {
  order: 1;
  margin: auto 1rem;
}

.about-us-section .order-lg-3 {
  order: 2;
  height: 100%;
  margin: auto 1rem;
}

.about-us-section .order-lg-4 {
  order: 1;
  margin: auto 1rem;
}

.about-us-section .img-fluid {
  width: 100%;
}

.about-us-section .btn-primary {
  background-color: #343a40;
  border-color: #343a40;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.about-us-section .btn-primary:hover {
  background-color: #23282e;
  border-color: #23282e;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .about-us-section .col-lg-6 {
    flex: 100%;
  }
}

.about-wrap li strong {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .about-us-section .col-lg-6 {
    flex: 100%;
  }
  .about-us-section .order-lg-3 {
    order: 1;
  }
  .about-us-section .order-lg-4 {
    order: 2;
  }
}

/* Contact section */
.contact-section {
  padding: 60px 0;
  position: relative;
}

.contact-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.contact-wrap h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-wrap p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  width: 50%;
  padding-right: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border-color: #333;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #f83b3b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ff5656;
}

.map {
  flex: 1;
  margin-left: 20px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* SERVICES*/

.section-heading {
  text-align: center;
  margin: 1em 0;
  background-color: #5a5a5a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 0 auto 1rem;
  color: #e6ebef;
}

.section-services {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.row-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.column {
  width: 45%;
  padding: 0 1em 2em 1em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

.card {
  max-width: calc(100% - 2in);
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  background: linear-gradient(#ffffff 50%, #e83939 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

.card p {
  color: #2f3042;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: #e83939;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #e83939;
}

.card:hover h3 {
  color: #ffffff;
}

.card:hover p {
  color: #f0f0f0;
  font-weight: bold;
}

/* Our Team */

.section-team {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.row-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em; /* Add gap between columns */
}

.team-heading {
  text-align: center;
  margin: 1em 0;
  background-color: #5a5a5a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 0 auto 1rem;
  color: #e6ebef;
}

.our-team {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 80%;
  border-radius: 6%;
}

.our-team img {
  width: 100%;
  height: auto;
  transform: scale(1, 1) translateX(-25px);
  transition: all 0.2s linear 0s;
}
.our-team:hover img {
  transform: scale(1, 1) translateX(0);
}
.our-team .over-layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.our-team .team-content {
  width: 90%;
  position: absolute;
  bottom: -40px;
  padding: 0 25px;
  transition: all 0.4s ease 0s;
}
.our-team:hover .team-content {
  bottom: 1%;
}
.our-team .title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 5px;
  text-transform: uppercase;
}
.our-team .post {
  display: block;
  font-size: 17px;
  color: #fff;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.our-team .description {
  font-size: 15px;
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease 0.1s;
}
.our-team:hover .description {
  transform: translateY(0);
}
.our-team .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10%;
  height: 100%;
  background: #ce5656;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.our-team .social-links li {
  margin: 20px 0;
}
.our-team .social-links li a {
  color: #fff;
  padding: 10px 0;
}
.our-team .social-links li a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .team-container {
    flex-direction: column;
  }

  .our-team {
    width: 100%;
  }
}

/*Specialty */

.specialty-header h1 {
  margin-top: 35px;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}

.container-specialty {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
  text-align: center;
  font-size: 28px;
  color: #dc4141;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc p {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 25px;
  }
}
.container-sign-in {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  height: auto;
  margin: 6rem auto;
  box-sizing: border-box;
}

.logo {
  width: 300px;
  height: 90px;
  margin-bottom: 20px;
}

form {
  margin: 2rem 0;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.form-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

#sign-in {
  background-image: url("../images/Sign\ IN\ \(1\).png");
  height: 100vh;
  background-size: cover;
}
.container-sign-up {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Our Team */ 


.section-team {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.row-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em; 
}

.team-heading {
  text-align: center;
  margin: 1em 0;
  background-color: #5a5a5a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 0 auto 1rem;
  color: #e6ebef;
}

.our-team {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 80%;
  border-radius: 6%;
}

.our-team img {
  width: 100%;
  height: auto;
  transform: scale(1, 1) translateX(-25px);
  transition: all 0.2s linear 0s;
}
.our-team:hover img {
  transform: scale(1, 1) translateX(0);
}
.our-team .over-layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.our-team .team-content {
  width: 90%;
  position: absolute;
  bottom: -40px;
  padding: 0 25px;
  transition: all 0.4s ease 0s;
}
.our-team:hover .team-content {
  bottom: 1%;
}
.our-team .title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 5px;
  text-transform: uppercase;
}
.our-team .post {
  display: block;
  font-size: 17px;
  color: #fff;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.our-team .description {
  font-size: 15px;
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease 0.1s;
}
.our-team:hover .description {
  transform: translateY(0);
}
.our-team .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10%;
  height: 100%;
  background: #ce5656;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.our-team .social-links li {
  margin: 20px 0;
}
.our-team .social-links li a {
  color: #fff;
  padding: 10px 0;
}
.our-team .social-links li a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .team-container {
    flex-direction: column;
  }

  .our-team {
    width: 100%;
  }
}

/* Our Team */ 


.section-team {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.row-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em; 
}

.team-heading {
  text-align: center;
  margin: 1em 0;
  background-color: #5a5a5a;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin: 0 auto 1rem;
  color: #e6ebef;
}

.our-team {
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 80%;
  border-radius: 6%;
}

.our-team img {
  width: 100%;
  height: auto;
  transform: scale(1, 1) translateX(-25px);
  transition: all 0.2s linear 0s;
}
.our-team:hover img {
  transform: scale(1, 1) translateX(0);
}
.our-team .over-layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.our-team .team-content {
  width: 90%;
  position: absolute;
  bottom: -40px;
  padding: 0 25px;
  transition: all 0.4s ease 0s;
}
.our-team:hover .team-content {
  bottom: 1%;
}
.our-team .title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 5px;
  text-transform: uppercase;
}
.our-team .post {
  display: block;
  font-size: 17px;
  color: #fff;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.our-team .description {
  font-size: 15px;
  color: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease 0.1s;
}
.our-team:hover .description {
  transform: translateY(0);
}
.our-team .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10%;
  height: 100%;
  background: #ce5656;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.our-team .social-links li {
  margin: 20px 0;
}
.our-team .social-links li a {
  color: #fff;
  padding: 10px 0;
}
.our-team .social-links li a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .team-container {
    flex-direction: column;
  }

  .our-team {
    width: 100%;
  }
}

#sign-up {
  background-image: url("../images/Sign\ IN\ \(1\).png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#message {
  display: none;
  color: green; /* Change the color to suit your design */
  margin-top: 10px; /* Adjust the margin as needed */
}